:root {
    --brand-main: #9E6726;
    --brand-one: #7A7A7A;
    --brand-two: #9E6726;
    --brand-three: #CE996A;
}

.bg-main {
    background-color: var(--brand-main);
}

.bg-three {
    background-color: var(--brand-three);
}

.text-main {
    color: var(--brand-main);
}

.text-three {
    color: var(--brand-three);
}


/*-----------------
 section navbar
-------------------*/

.header-nav__container {
    background-color: rgba(241, 238, 238, 0.1);
}

.header-nav__link {
    transition: color 0.3s ease;
    color: white;
    font-weight: 600;
}

.header-nav__link--active,
.header-nav__link:hover {
    color: var(--brand-main) !important;
}

.header-nav__cta {
    padding-right: 28px;
}

.header-nav__button {
    background-color: var(--brand-main);
    padding: 15px 20px;
    font-weight: 700;
    transition: transform 0.6s ease-out;
}

.header-nav__button:hover {
    transform: translateY(-8px);
}

.header-nav__item.dropdown {
    position: relative;
}

.header-nav__dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    background-color: rgba(241, 238, 238, 0.2);
    border: none;
    padding: 0;
    min-width: max-content;
    text-align: end;
}

.header-nav__item.dropdown:hover>.header-nav__dropdown {
    display: block;
    padding: 40px 10px 10px 5px;
}

.header-nav__dropdown-item {
    transition: background-color 0.2s ease, color 0.2s ease;
    color: white;
    font-weight: 600;
}

.header-nav__dropdown-item:hover {
    color: var(--brand-main) !important;
    background-color: transparent;
}

.header-nav__toggler-icon {
    color: var(--brand-three);
    left: 20%;
}


/*-----------------
 section slider
-------------------*/

.main-swiper {
    height: 100vh;
}

.swiper {
    height: 100%;
}

.swiper-slide {
    position: relative;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1);
    transition: transform 6s ease-in-out;
}

.swiper-slide-active img {
    transform: scale(1.1);
}

.overlay__slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0.7;
    z-index: 3;
}

.swiper-slide::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.hero-content {
    position: absolute;
    top: 60%;
    left: 15.4%;
    transform: translateY(-50%);
    max-width: 600px;
    color: white;
    z-index: 4;
    background-color: rgba(241, 238, 238, 0.1);
    padding: 2.5rem;
}

.hero-section {
    position: relative;
    z-index: 1;
}

.hero-content .title {
    font-size: 50px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 30px;
}

.hero-content .description__slider {
    font-size: 18px;
    color: var(--brand-one);
}

.buttons .btn__slider {
    transition: all 0.6s ease;
    margin-right: 1rem;
    border-radius: 0px;
    margin-top: 1rem;
}

.buttons .btn__slider:first-child:hover {
    transform: translateY(-8px);
    background-color: var(--brand-main);
}

.buttons .btn__slider:last-child:hover {
    color: var(--brand-main) !important;
}


/*-----------------
 section footer
-------------------*/

.footer__section {
    background-color: #201100;
    padding-top: 4rem;
    position: relative;
    z-index: 0;
}

.overlay__footer {
    background-image: url('../img/footer-bg-1.jpg');
    opacity: 0.25;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.footer__section .footer__img {
    margin-bottom: 1.5rem;
    max-width: 20%;
}

.footer__section .footer__text p {
    color: #f1f1f1;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.75;
    padding-right: 1rem;
    margin-bottom: 1.5rem;
}

.footer__section .footer__title {
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 1.5rem;
    color: var(--brand-main);
}

.footer__section .footer__item {
    display: block;
    position: relative;
    padding-bottom: 1rem;
}

.footer__section .footer__icon {
    font-size: 0.75rem;
    text-align: right;
    margin-right: 0.5rem;
    vertical-align: middle;
    color: var(--brand-main);
}

.footer__section .footer__link {
    font-weight: 500;
    font-size: 0.85rem;
    text-decoration: none;
    text-transform: capitalize;
    display: inline-block;
    transition: all 0.25s ease-in-out 0s;
    color: white;
}

.footer__section .footer__link:hover {
    transition: all 0.3s ease-in-out 0s;
    color: var(--brand-main);
}

.footer__section .footer__contact {
    font-weight: 600;
    padding: 0;
    padding-bottom: 1rem;
    border-radius: 0.5rem;
    transition: all 0.3s ease-in-out 0s;
    color: white;
}

.footer__section .icon__contact {
    font-size: 1.5rem;
    text-align: center;
    margin-right: 0.5rem;
    vertical-align: middle;
    color: var(--brand-main);
}

.footer__section .link__contact {
    text-decoration: none;
    font-size: 0.85rem;
    font-weight: 500;
    display: inline-block;
    transition: all 0.25s ease-in-out 0s;
    color: white;
}

.footer__section .footer__contact .link__contact:hover {
    color: var(--brand-main);
}

.footer__section .copy__section {
    padding: 0.5rem;
    overflow: hidden;
}

.footer__section .copy__section .copy__text {
    text-align: left;
    font-weight: 600;
    margin: 0;
    font-size: 0.85rem;
    color: var(--brand-main);
}