:root {
    /* --brand-main: #09aff4; */
    --brand-main: #ff0666;
    /* --brand-start: rgba(0, 9, 34); */
}

.bg-main {
    background-color: var(--brand-main);
}

.text-main {
    color: var(--brand-main);
}


/*-----------------
 section navbar
-------------------*/

.navbar-nav {
    padding-left: 1.5rem;
}

#scrolledNav {
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.hidden {
    transform: translateY(-100%);
    opacity: 0;
    pointer-events: none;
}

.visible {
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
}


/*-----------------
 section slider
-------------------*/

.main-swiper {
    height: 100vh;
}

.swiper {
    height: 100%;
}

.swiper-slide {
    position: relative;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.particles-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 3;
}

.swiper-slide::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 17%;
    transform: translateY(-50%);
    max-width: 600px;
    color: white;
    z-index: 4;
}

@media (max-width: 991px) {
    .hero-content {
        left: 5%;
    }
}

.hero-section {
    position: relative;
    z-index: 1;
}

.hero-content .title {
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 30px;
}

.hero-content .title span.highlight {
    color: var(--brand-main);
}

.subtitle {
    position: relative;
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--brand-main);
    text-shadow: 0 0 5px rgba(255, 6, 102, 0.7);
}

.subtitle::before,
.subtitle::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 6px;
    aspect-ratio: 1 / 1;
    border-radius: 1rem;
    background-color: var(--clr-main, #ff0666);
    top: 50%;
    translate: 0 -50%;
}

.subtitle::before {
    left: 0;
}

.subtitle::after {
    right: 0;
}

.buttons .btn__slider {
    border: 2px solid var(--brand-main, #09aff4);
    transition: all 0.3s ease;
    margin-right: 1rem;
    border-radius: 5px 20px 5px 20px;
    margin-top: 1rem;
}

.buttons .btn__slider:first-child:hover {
    background-color: transparent !important;
    color: var(--brand-main) !important;
}

.buttons .btn__slider:last-child:hover {
    background-color: var(--brand-main, #09aff4) !important;
    color: #ffffff !important;
}


/*-----------------
 section services
-------------------*/

.space {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.space .content .title {
    font-size: 2.5rem;
    font-weight: 700;
}

.space .content p {
    font-size: 20px;
}

.space .service__card {
    border: var(--brand-main) 1px solid;
    padding: 1rem;
    margin-top: 3rem;
    border-radius: 8px;
    text-align: center;
    margin-bottom: 8px;
    overflow: hidden;
}

.space .service__card .service__title {
    font-weight: 700;
}

.space .service__card a {
    text-decoration: none;
    color: var(--brand-main) !important;
}

.space .service__card:hover {
    color: white;
    border-color: white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.service__card:hover a,
.service__card:hover i {
    color: white !important;
}

.feature-card__animation {
    height: 93%;
    position: relative;
    z-index: 1;
    transition: all .3s linear 0s;
}

.feature-card__animation:before {
    background: var(--brand-main);
    content: "";
    position: absolute;
    left: auto;
    right: 0;
    width: 0;
    height: 100%;
    top: 0;
    bottom: 0;
    transition: all .3s ease-in-out;
    z-index: -1;
}

.feature-card__animation:hover:before {
    left: 0;
    right: auto;
    width: 100%;
}

.buttons .btn__service {
    border: 2px solid var(--brand-main, #09aff4);
    transition: all 0.3s ease;
    margin-right: 1rem;
    border-radius: 5px 20px 5px 20px;
    margin-top: 1rem;
    color: white !important;
    background-color: var(--brand-main);
}

.buttons .btn__service:hover {
    color: var(--brand-main) !important;
    background-color: transparent;
}


/*-----------------
 SECTION BANNER
-------------------*/

.certification {
    position: relative;
    background-image: url('../img/como-fazer-imagens-3.gif');
    background-size: cover;
    background-position: center;
    height: 40px;
    min-height: 370px;
    display: flex;
    align-items: center;
    color: white;
    overflow: hidden;
    z-index: 1;
}

.certification::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 1;
}

.certification .container {
    z-index: 3;
    width: 100%;
}

.certification svg {
    z-index: 2;
    height: 42px;
}

.balanceo {
    width: 90%;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    animation: balanceo 5s infinite;
}

@keyframes balanceo {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(10deg);
    }
    75% {
        transform: rotate(-10deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3));
    z-index: -1;
}


/*-----------------
 section about
-------------------*/

.about__section .title {
    font-size: 2rem;
    font-weight: 700;
}

.about__section .img__about img {
    fill: var(--brand-main);
    transition: fill 0.3s;
}


/*-----------------
 section chouse
-------------------*/

.chouse__number {
    font-size: 3rem;
    font-weight: 700;
    line-height: 0.8;
    margin-right: 1.5rem;
    margin-bottom: 1rem;
}

.chouse__title {
    margin-bottom: 0.75rem;
    font-weight: 500;
    font-size: 1.5rem;
    text-transform: capitalize;
}

.chouse__text {
    opacity: 0.75;
}

.chouse__section .title {
    font-size: 2rem;
    font-weight: 700;
}


/*-----------------
 section start
-------------------*/

.overlay__start {
    background-image: url('../img/footer-bg-1.jpg');
    opacity: 0.2;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    inset: 0;
    z-index: 0;
    display: block;
    transition: all 0.5s ease-in-out 0s;
}

.start__section {
    position: relative;
    overflow: hidden;
    z-index: 0;
    background-color: #060922f0;
}

.start__innner {
    text-align: center;
    position: relative;
    padding: 1rem;
    color: white;
    border: 1px solid var(--brand-main);
    border-top: 0.25rem solid var(--brand-main);
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    background-color: rgba(rgba(0, 9, 34), 0.25);
}

.start__number {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.6;
}

.start__icon {
    font-size: 3rem;
    line-height: 1;
    color: var(--brand-main);
    opacity: 0.65;
    transition: all 0.2s ease-in-out 0s;
}

.start__text {
    font-size: 1.25rem;
    font-weight: 400;
    display: block;
    text-transform: capitalize;
}


/*-----------------
 section blog
-------------------*/

.card {
    border: var(--brand-main) 1px solid;
    overflow: hidden;
}

.card .card-body:hover .card-title {
    color: var(--brand-main) !important;
    transition: color 0.2s ease;
}

.card .card-img-top {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
    object-fit: cover;
}

.card:hover .card-img-top {
    transform: scale(1.1);
}


/*-----------------
 section footer
-------------------*/

.footer__section {
    background-color: #000000 !important;
    padding-top: 4rem;
    position: relative;
    z-index: 0;
}

.overlay__footer {
    background-image: url('../img/footer-bg-1.jpg');
    opacity: 0.25;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.footer__section .footer__img {
    margin-bottom: 1.5rem;
    max-width: 30%;
}

.footer__section .footer__text p {
    color: #f1f1f1;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.75;
    padding-right: 1rem;
    margin-bottom: 1.5rem;
}

.footer__section .footer__title {
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 1.5rem;
    color: var(--brand-main);
}

.footer__section .footer__item {
    display: block;
    position: relative;
    padding-bottom: 1rem;
}

.footer__section .footer__icon {
    font-size: 0.75rem;
    text-align: right;
    margin-right: 0.5rem;
    vertical-align: middle;
    color: var(--brand-main);
}

.footer__section .footer__link {
    font-weight: 500;
    font-size: 0.85rem;
    text-decoration: none;
    text-transform: capitalize;
    display: inline-block;
    transition: all 0.25s ease-in-out 0s;
    color: white;
}

.footer__section .footer__link:hover {
    transition: all 0.3s ease-in-out 0s;
    color: var(--brand-main);
}

.footer__section .footer__contact {
    font-weight: 600;
    padding: 0;
    padding-bottom: 1rem;
    border-radius: 0.5rem;
    transition: all 0.3s ease-in-out 0s;
    color: white;
}

.footer__section .icon__contact {
    font-size: 1.5rem;
    text-align: center;
    margin-right: 0.5rem;
    vertical-align: middle;
    color: var(--brand-main);
}

.footer__section .link__contact {
    text-decoration: none;
    font-size: 0.85rem;
    font-weight: 500;
    display: inline-block;
    transition: all 0.25s ease-in-out 0s;
    color: white;
}

.footer__section .footer__contact .link__contact:hover {
    color: var(--brand-main);
}

.footer__section .copy__section {
    padding: 0.5rem;
    overflow: hidden;
}

.footer__section .copy__section .copy__text {
    text-align: left;
    font-weight: 600;
    margin: 0;
    font-size: 0.85rem;
    color: var(--brand-main);
}