:root {
    /* --brand-main: #09aff4; */
    /* --brand-main: #ff0666; */
    /* --brand-start: rgba(0, 9, 34); */
    --brand-main: #9E6726;
    --brand-one: #7A7A7A;
    --brand-two: #9E6726;
    --brand-three: #CE996A;
}

.bg-main {
    background-color: var(--brand-main);
}

.bg-three {
    background-color: var(--brand-three);
}

.text-main {
    color: var(--brand-main);
}

.text-three {
    color: var(--brand-three);
}


/*-----------------
 section navbar
-------------------*/

.navbar-nav {
    background-color: rgba(241, 238, 238, 0.1);
}
.navbar-nav a{
    font-weight: 600;
}

.btn__navbar {
    background-color: var(--brand-main);
    padding: 15px 20px 15px 20px;
    transition: transform 0.3s ease-in-out !important;
    font-weight: 600;
}


/*-----------------
 section slider
-------------------*/

.main-swiper {
    height: 100vh;
}

.swiper {
    height: 100%;
}

.swiper-slide {
    position: relative;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1);
    transition: transform 6s ease-in-out;
}

.swiper-slide-active img {
    transform: scale(1.1);
}

.overlay__slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0.7;
    z-index: 3;
}

.swiper-slide::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 15.5%;
    transform: translateY(-50%);
    max-width: 600px;
    color: white;
    z-index: 4;
    background-color: rgba(241, 238, 238, 0.1);
    padding: 2rem;
}

@media (max-width: 991px) {
    .hero-content {
        left: 7%;
        right: 7%;
    }
}

.hero-section {
    position: relative;
    z-index: 1;
}

.hero-content .title {
    font-size: 50px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 30px;
}

.hero-content .description__slider {
    font-size: 18px;
    color: var(--brand-one);
}

.buttons .btn__slider {
    transition: all 0.6s ease;
    margin-right: 1rem;
    border-radius: 0px;
    margin-top: 1rem;
}

.buttons .btn__slider:first-child:hover {
    transform: translateY(-8px);
    background-color: var(--brand-main);
}

.buttons .btn__slider:last-child:hover {
    color: var(--brand-main) !important;

}

/*-----------------
 section services
-------------------*/

.space {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.space .content .title {
    font-size: 3rem;
    font-weight: 700;
}

.space .content p {
    font-size: 20px;
}

.space .service__card {
    border: var(--brand-main) 1px solid;
    padding: 1rem;
    margin-top: 3rem;
    border-radius: 8px;
    text-align: center;
    margin-bottom: 8px;
    overflow: hidden;
}

.space .service__card .service__title {
    font-weight: 700;
}

.space .service__card a {
    text-decoration: none;
    color: var(--brand-main) !important;
}

.space .service__card:hover {
    color: white;
    border-color: white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.service__card:hover a,
.service__card:hover i {
    color: white !important;
}

.feature-card__animation {
    height: 93%;
    position: relative;
    z-index: 1;
    transition: all .3s linear 0s;
}

.feature-card__animation:before {
    background: var(--brand-main);
    content: "";
    position: absolute;
    left: auto;
    right: 0;
    width: 0;
    height: 100%;
    top: 0;
    bottom: 0;
    transition: all .3s ease-in-out;
    z-index: -1;
}

.feature-card__animation:hover:before {
    left: 0;
    right: auto;
    width: 100%;
}

.buttons .btn__service {
    border: 2px solid var(--brand-main, #09aff4);
    transition: all 0.3s ease;
    margin-right: 1rem;
    border-radius: 5px 20px 5px 20px;
    margin-top: 1rem;
    color: white !important;
    background-color: var(--brand-main);
}

.buttons .btn__service:hover {
    color: var(--brand-main) !important;
    background-color: transparent;
}


/*-----------------
 SECTION BANNER
-------------------*/

.certification {
    position: relative;
    background-image: url('../img/como-fazer-imagens-3.gif');
    background-size: cover;
    background-position: center;
    height: 40px;
    min-height: 370px;
    display: flex;
    align-items: center;
    color: white;
    overflow: hidden;
    z-index: 1;
}

.certification::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 1;
}

.certification .container {
    z-index: 3;
    width: 100%;
}

.certification svg {
    z-index: 2;
    height: 42px;
}

.balanceo {
    width: 90%;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    animation: balanceo 5s infinite;
}

@keyframes balanceo {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(10deg);
    }

    75% {
        transform: rotate(-10deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3));
    z-index: -1;
}


/*-----------------
 section about
-------------------*/

.about__section .title {
    font-size: 2rem;
    font-weight: 700;
}

.about__section .img__about img {
    fill: var(--brand-main);
    transition: fill 0.3s;
}


/*-----------------
 section chouse
-------------------*/

.chouse__number {
    font-size: 3rem;
    font-weight: 700;
    line-height: 0.8;
    margin-right: 1.5rem;
    margin-bottom: 1rem;
}

.chouse__title {
    margin-bottom: 0.75rem;
    font-weight: 500;
    font-size: 1.5rem;
    text-transform: capitalize;
}

.chouse__text {
    opacity: 0.75;
}

.chouse__section .title {
    font-size: 2rem;
    font-weight: 700;
}


/*-----------------
 section start
-------------------*/

.overlay__start {
    background-image: url('../img/footer-bg-1.jpg');
    opacity: 0.2;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    inset: 0;
    z-index: 0;
    display: block;
    transition: all 0.5s ease-in-out 0s;
}

.start__section {
    position: relative;
    overflow: hidden;
    z-index: 0;
    background-color: #060922f0;
}

.start__innner {
    text-align: center;
    position: relative;
    padding: 1rem;
    color: white;
    border: 1px solid var(--brand-main);
    border-top: 0.25rem solid var(--brand-main);
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    background-color: rgba(rgba(0, 9, 34), 0.25);
}

.start__number {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.6;
}

.start__icon {
    font-size: 3rem;
    line-height: 1;
    color: var(--brand-main);
    opacity: 0.65;
    transition: all 0.2s ease-in-out 0s;
}

.start__text {
    font-size: 1.25rem;
    font-weight: 400;
    display: block;
    text-transform: capitalize;
}


/*-----------------
 section blog
-------------------*/

.card {
    border: var(--brand-main) 1px solid;
    overflow: hidden;
}

.card .card-body:hover .card-title {
    color: var(--brand-main) !important;
    transition: color 0.2s ease;
}

.card .card-img-top {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
    object-fit: cover;
}

.card:hover .card-img-top {
    transform: scale(1.1);
}

/*-----------------
 SECTION BANNER FOOTER
-------------------*/

.banner-section {
    background: url("../img/banner.webp") no-repeat center center;
    background-size: cover;
    min-height: 400px;
    position: relative;
}

.banner-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 0;
}

.banner-section>.container {
    position: relative;
    z-index: 1;
}

.title-class {
    /* font-family: Oswald; */
    font-size: 80px;
    line-height: 80px;
    font-weight: 600;
}

.subtitle-class {
    font-family: Oswald;
    font-size: 25px;
    line-height: 25px;
}

.btn-video {
    background-color: var(--brand-main);
    border: none;
    color: white;
    transition: background-color 0.3s;
    font-size: 22px;
}

.btn-video:hover {
    background-color: #c4005e;
    color: white;
}


/*-----------------
 section footer
-------------------*/

.footer__section {
    background-color: #000000 !important;
    padding-top: 4rem;
    position: relative;
    z-index: 0;
}

.overlay__footer {
    background-image: url('../img/footer-bg-1.jpg');
    opacity: 0.25;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.footer__section .footer__img {
    margin-bottom: 1.5rem;
    max-width: 30%;
}

.footer__section .footer__text p {
    color: #f1f1f1;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.75;
    padding-right: 1rem;
    margin-bottom: 1.5rem;
}

.footer__section .footer__title {
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 1.5rem;
    color: var(--brand-main);
}

.footer__section .footer__item {
    display: block;
    position: relative;
    padding-bottom: 1rem;
}

.footer__section .footer__icon {
    font-size: 0.75rem;
    text-align: right;
    margin-right: 0.5rem;
    vertical-align: middle;
    color: var(--brand-main);
}

.footer__section .footer__link {
    font-weight: 500;
    font-size: 0.85rem;
    text-decoration: none;
    text-transform: capitalize;
    display: inline-block;
    transition: all 0.25s ease-in-out 0s;
    color: white;
}

.footer__section .footer__link:hover {
    transition: all 0.3s ease-in-out 0s;
    color: var(--brand-main);
}

.footer__section .footer__contact {
    font-weight: 600;
    padding: 0;
    padding-bottom: 1rem;
    border-radius: 0.5rem;
    transition: all 0.3s ease-in-out 0s;
    color: white;
}

.footer__section .icon__contact {
    font-size: 1.5rem;
    text-align: center;
    margin-right: 0.5rem;
    vertical-align: middle;
    color: var(--brand-main);
}

.footer__section .link__contact {
    text-decoration: none;
    font-size: 0.85rem;
    font-weight: 500;
    display: inline-block;
    transition: all 0.25s ease-in-out 0s;
    color: white;
}

.footer__section .footer__contact .link__contact:hover {
    color: var(--brand-main);
}

.footer__section .copy__section {
    padding: 0.5rem;
    overflow: hidden;
}

.footer__section .copy__section .copy__text {
    text-align: left;
    font-weight: 600;
    margin: 0;
    font-size: 0.85rem;
    color: var(--brand-main);
}

/*-----------------
 section blog
-------------------*/
.section {
    padding-top: 90px;
    padding-bottom: 90px;
    background: white;
    position: relative;
}

.blog-section .blog-card {
    padding: clamp(12px, 1.25vw, 40px);
    border-radius: 24px;
    border: 1px solid var(--brand-main);
    box-shadow: 0px 2px 15px #f7f7f7;
    background: #fff;
}

.blog-section .blog-card .image-box {
    border-radius: 16px;
    overflow: hidden;
}

.blog-section .blog-card .image-box img {
    transition: all 0.35s linear 0s;
    border-radius: 16px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.blog-section .blog-card .content-box {
    position: relative;
    padding-top: clamp(12px, 1.25vw, 40px);
}

.blog-section .blog-card .content-box .date-box {
    position: absolute;
    right: 12px;
    top: -60px;
    padding: clamp(8px, 0.625vw, 24px) clamp(10px, 0.833vw, 32px);
    border-radius: 8px;
    background: var(--brand-main);
    color: #fff;
}

.date-box h5 {
    margin-bottom: 0px;
}

.date-box p {
    margin-bottom: 0px;
    color: #fff;
}

.description-blog p {
    color: var(--brand-black);
}

@media (min-width: 2559px) {
    .blog-section .blog-card .content-box .date-box {
        top: -60px;
    }
}

@media (min-width: 3839px) {
    .blog-section .blog-card .content-box .date-box {
        top: -90px;
    }
}

@media (max-width: 1024px) {
    .blog-section .blog-card .content-box .date-box {
        top: -36px;
    }
}

.blog-section .blog-card .content-box .description-text {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

.blog-section .blog-card:hover .image-box img {
    transform: scale(1.1);
    transition: all 0.35s linear 0s;
}

.btn-blog {
    z-index: 3;
    transition-delay: 0.2s;
    font-size: 14px;
    padding: 5px 25px;
    border-radius: 0px;
    background: var(--brand-main);
    border: none;
}

/*-----------------
 444444444444444444
-------------------*/
@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-size: 17px;
    line-height: 30px;
    font-weight: 400;
    -moz-osx-font-smoothing: grayscale;
    word-break: break-word;
    -webkit-font-smoothing: antialiased;
    font-family: "Epilogue", sans-serif;
    margin: 0;
    background: #fff;
}

* {
    box-sizing: border-box;
}

.creative-cards {
    padding: 120px 0;
    position: relative;
}

.creative-cards .container {
    max-width: 1320px;
    width: 100%;
    padding-right: .75rem;
    padding-left: .75rem;
    margin-right: auto;
    margin-left: auto;
}

.creative-cards .container .row {
    display: flex;
    flex-wrap: wrap;
}

.creative-cards .container .row .card-column {
    flex: 0 0 auto;
    width: 33.33333333%;
    text-align: center;
    max-width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 20px;
}

.card-details {
    width: 80%;
    margin: auto;
    position: relative;
    transition: .3s ease-in-out;
}

.card-details:before {
    content: "";
    width: 190px;
    height: 380px;
    background: #f7f6f2;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) skew(-20deg, 0deg);
    z-index: -1;
    transition: .3s ease-in-out;
}

.card-details:hover:before {
    background-color: #fffab3;
}

.card-icons {
    width: 140px;
    height: 150px;
    position: relative;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-icons:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid;
    width: 100%;
    height: 100%;
    transform: skew(-20deg, 0deg);
    background: #fff;
    border-color: #ffee02;
    transition: .3s ease-in-out;
}

.card-details:hover .card-icons:before {
    background-color: #ffee02;
}

.card-icons img {
    position: relative;
    width: 70px;
    height: 70px;
}

.card-details h3 {
    margin-bottom: 15px;
    margin-top: 50px;
    font-weight: 700;
    font-size: 1.75rem;
    line-height: 1.2;
}

.card-details h3 a {
    color: #000;
    text-decoration: none;
}

.card-details p {
    font-size: 16px;
    line-height: 30px;
    color: #444;
    font-weight: 400;
    margin-bottom: 30px;
}

.read-more-btn {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    border-radius: 100%;
    margin: auto;
    background: #fff;
    transform: translateX(-10px);
    opacity: 0;
    visibility: hidden;
    border-color: #ffee02;
    transition: .3s ease-in-out;
    text-decoration: none;
}

.read-more-btn i {
    color: #000;
    font-size: 12px;
}

.card-details:hover .read-more-btn {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
}

/* ============= Responsive Ipad ==================== */
@media (max-width: 992px) {
    .creative-cards .container .row .card-column {
        flex: 0 0 auto;
        width: 50%;
        margin-bottom: 40px;
    }
}

/* ============= Responsive Iphone ==================== */
@media (max-width: 480px) {
    .creative-cards .container .row .card-column {
        flex: 0 0 auto;
        width: 100%;
        margin-bottom: 20px;
    }

    .card-details {
        width: 100%;
    }

    .read-more-btn {
        transform: translateX(0px);
        opacity: 1;
        visibility: visible;
    }
}